.head  {
    color: rgb(3, 3, 19);
    padding-left: 25%;
    padding-bottom: 30px;
}

.head2 {
    color: rgb(92, 38, 38);
    
    
   
}
.tinny{
    font-size: 12px;
}
.text-format{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    word-wrap: normal;
    word-spacing: 5px;
    height: 20%;
    width: 40%;
    padding-top: 2%;
    text-align: left;
}

.div-style{
    display: flex;
    
}

.div-of-paragraph{
    padding-left: 25%;
}
.img-fix{
    height: 30%;
    width: 30%;
}
 /* first phase ends here. do you wanna live healthy part  */

 .img-fix-2{
    height: 70%;
    width: 70%;
}

.padding-gap{
    padding: 30px;
}

.border-around{
    border: 2px solid blue; 
    margin: 50px;
    
    
}
/* somewhat second section */