.head  {
    color: rgba(3, 3, 31, 0.87);
    font-family:  'Merriweather', serif;
    font-size: 50px;
    padding-bottom: 30px;
    padding-left: 25%;
}

.head2 {
    color: rgb(34, 37, 43);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;  
   
}
.tinny{
    font-size: 12px;
}
.text-format{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 800;
    height: 20%;
    padding-top: 2%;
    text-align: left;
    width: 40%;
    word-spacing: 5px;
    word-wrap: normal;
}

.div-style{
    display: flex;
    
}

.div-of-paragraph{
    padding-left: 25%;
}
.img-fix{
    height: 30%;
    width: 30%;
}
 /* first phase ends here. do you wanna live healthy part  */

 .img-fix-2{
    height: 70%;
    width: 70%;
    
}

.padding-gap{
    padding: 30px;
}

.border-around{
    border: 3px solid rgb(79, 79, 216); 
    margin: 50px;   
}
/* somewhat second section */

.button1{
    background: url(images/Group-8446.png);
    background-color: #0a7326;
    border-radius: 1px;
    border-style: solid;
    box-shadow:  0px 0px 2px 2px rgb(179, 130, 130);
    color: rgb(248, 242, 253);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    text-shadow: 2px 2px 1px 1px black;
}

.b1-position{
    display: block;
    margin-top: 30px;
}
.img-fix-3{
    border: 3px solid red;
    height: 50%;
    width: 100%;
}



.text-format-2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 800;
    height: 20%;
    padding-top: 2%;
    text-align: justify;
    width: 80%;
    word-spacing: 5px;
    word-wrap: normal;
}

.div-of-paragraph-2{
    display: block;
    padding-left: 10%;
}

body{
    background-color: rgba(185, 91, 36, 0.842);
    background-image: url(images/bg.jpg);
    background-repeat: round;
}

.border-around-1{
    border: 3px solid rgba(151, 88, 6, 0.664);
    border-left: 15px; 
    border-top: 0;  
    box-shadow: 10px 10px 10px 5px rgba(124, 70, 70, 0.651), -10px 0px 10px 5px rgba(124, 70, 70, 0.651); 
    margin: 50px; 
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
}

.border-around-2{
    border: 3px solid rgba(151, 88, 6, 0.664);
    border-right: 15px; 
    border-top: 0;  
    box-shadow: -10px 10px 10px 5px rgba(124, 70, 70, 0.651), 10px 0px 10px 5px rgba(124, 70, 70, 0.651); 
    margin: 50px; 
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
}

.border-around-3{
    border: 3px solid rgba(151, 88, 6, 0.664);
    border-left: 15px; 
    border-right: 15px; 
    border-top: 0; 
    box-shadow: 10px 10px 10px 5px rgba(124, 70, 70, 0.651), -10px 0px 10px 5px rgba(124, 70, 70, 0.651); 
    margin: 50px; 
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
}

.hr-design{
    border: 2px solid rgba(179, 141, 141, 0.37);
    border-radius: 2px;
    box-shadow: 1px -1px 1px 1px rgba(230, 82, 82, 0.774);
    color: rgb(36, 29, 29);
    margin-top: 300px;
    width: 850px;
}

.footer-format{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
